{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MS DENIM</title>
    <link rel="stylesheet" href="{% static 'css/customers.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
  {% block content %}
    <div class="spinner-container">
      <div class="circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="container">
      <div class="hamburger-menu">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
        <span>Close</span>
      </div>
    <!--   <header class="header">
        <div class="img-wrapper">
          <img src="images/6.jpg" />
        </div>
      </header> -->

      <section class="sidebar">
        <ul class="menu">
           <li class="menu-item">
            <a href="{% url 'home' %}" class="menu-link" data-content="HOME">HOME</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'about' %}" class="menu-link" data-content="ABOUT">ABOUT</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'concepts' %}" class="menu-link" data-content="CONCEPTS">CONCEPTS</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'customers' %}" class="menu-link" data-content="CUSTOMERS">CUSTOMERS</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'shows' %}" class="menu-link" data-content="SHOWS">SHOWS</a>
          </li>
          <li class="menu-item">
            <a href="{%  url 'events' %}" class="menu-link" data-content="EVENTS">EVENTS</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact' %}" class="menu-link" data-content="CONTACT">CONTACT</a>
          </li>
        </ul>
        <div class="social-media">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
      </section>

      <div class="about-section">
       <div class="inner-container">
           <h1>CUSTOMERS</h1>
           <p class="text">
               <b>In good company…</b><br><br>
               MS Denim develops partnerships with leading brands, working with them to create new fabric possibilities, to explore production alternatives and to constantly improve our quality. We celebrate the clients who choose to continue inventing their new denim fashions with us.

             </p>    
         </div>
      </div>
      <div class="wrapper">
        <div class="box"><img src="{% static 'images/logos/01.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/02.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/03.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/04.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/05.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/06.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/07.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/08.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/09.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/10.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/11.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/12.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/13.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/14.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/15.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/16.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/17.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/18.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/19.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/20.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/21.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/22.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/23.png' %}"></div>
        <div class="box"><img src="{% static 'images/logos/24.png' %}"></div>

      </div>

      </div>
            <footer class="footer">
              <div class="footer-content">
                <p class="copyright">
                  WORLDWIDE © MS DENIM 2021
                </p>
                <div class="social-list">
                  <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
            </footer>
            <a href="#" class="scroll-btn">
              <i class="fas fa-arrow-up"></i>
            </a>
      </div>

  {% endblock content %}

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
